<div class='search'>
    <!--<select class='search-for' required>
        <option value='posts'>Posts</option>
        <option value='threads' selected>Threads</option>
        <option value='keyword'>Keywords</option>
    </select>-->
    <input type='text' placeholder='Type here...' required/>
    <b class='fas fa-search'></b>
</div>
<div class='searchResults'>
    <a href='#'>Search result 1</a>
    <a href='#'>Search result 2 is a very long search result which will occupy more than one line</a>
    <a href='#'>Search result 3 is a very long search result which will occupy more than one line</a>
</div>

<div class='ask-question'>
    <span><b>Ask a question</b><b class='fas fa-plus'></b></span>

    <form action='' method='POST' enctype='multipart/form-data'>
        <input type='text'name='question' placeholder='Type your Question...' required/>
        <textarea name='description' placeholder='Please describe your question in detail...' maxlength="1000" required/></textarea>
        <input type='submit' value='submit'/>
    </form>

</div>

<div class="container">
    
    <div class="subforum">

        <div class="subforum-title">
            <h1>Threads</h1>
        </div>
        
        <!--<div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fas fa-hashtag"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h4><a href="#">Description Title</a></h4>
                <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                <br>on <small>12 Dec 2020</small>
            </div>
        </div>-->

    </div>
</div>

<script>

var autoloadpage = window.location.pathname.split("/");
if(autoloadpage.length > 2)
{
    fetchPage("/post");    
}

$('.ask-question').on('click','span',function(){
    $(this).parent().children('form').toggle();
});
$('.ask-question form').on('submit',function(e){
    e.preventDefault();
    const form = $('.ask-question form');
    var question = $('.ask-question form input[name=question]').val();
    var description = $('.ask-question form textarea[name=description]').val();
    const submit = $('.ask-question form input[type=submit]');
    const submitValue = submit.val();
    submit.attr('disabled','disabled');

    $.ajax({
        type:"POST",
        url:'forum',
        data:'question='+question+'&description='+description,
        cache:false,
        beforeSend:function(){
            submit.val('Checking...');
        },
        success:function(data){
            if(data)
            {
                submit.toggleClass('failure',data.code == 0);
                submit.toggleClass('success',data.code);
                submit.val(data.description);
                setTimeout(function(){
                    submit.removeClass();
                    submit.val(submitValue);
                    submit.attr('disabled',false);
                },2000);                
            }
        },
        error:function(request, status, error){
            console.log(request.responseText);
            submit.val("Error! try again after some time");
            setTimeout(function(){             
                submit.val(submitValue);   
                submit.attr('disabled',false);
            },5000);
        }
    });
});

function requestResults(query){
    $.ajax({
            type:"POST",
            url:'/forum',
            cache:false,
            data:"query="+query,
            baforeSend:function(){  
                $('.searchResults').empty();
                $('.searchResults').show();
            },
            success:function(data){
                if(data)
                {   
                    if($('.subforum .subforum-row'))
                    {                        
                        $('.subforum .subforum-row').remove();
                    }
                    
                    var string = "";
                    //console.log(data);

                    data.map((result)=>{
                        var url_title = toUrlString(result.title);
                        var url_lastPost = toUrlString(result.LastPost);

                        string += "<div class='subforum-row'><div class='subforum-icon subforum-column center'><i class='fas fa-hashtag'></i></div>";
                        string += "<div class='subforum-description subforum-column'><h4>";
                        string += "<a class='fetch-page' fetch-page='forum/"+url_title+"'>"+result.title+"</a></h4><p>";
                        string += result.description+"</p></div><div class='subforum-stats subforum-column center'><span>";
                        string += result.posts_count+" Posts</span></div><div class='subforum-info subforum-column'><b>";
                        string += "<a class='fetch-page' fetch-page='forum/"+url_title+"#"+url_lastPost+"'>Last post</a></b> by <a class='fetch-page' fetch-page='/user/"+result.LastUser+"'>"+result.LastUser+"</a>";
                        string += "<br>on <small>"+result.LastUpdated_datetime+"</small></div></div>";
                    });                
                    $('.subforum').append(string);
                }
            },
            error:function(request, status, error){
                console.log(request.responseText);
                //callback(request.responseText,null);
            }   
        });
}
if($('.search input[type=text]').val() == "")
{
    requestResults($('.search input[type=text]').val());
}

$('.search input[type=text]').on('keydown',function(){
    var query = $(this).val();

    if($(this).val().length >= 3)
    {
        requestResults(query);
    }
});
$('.search b.fa-search').on('click',function(){
    if($('.search input[type=text]').val().length > 3)
    {        
        requestResults();
    }
});

function toUrlString(string){
    string = string.split(" ");
    string.map((word,index)=>{
        string[index] = word[0].toLowerCase() + word.slice(1);
    });
    string = string.join("-");
    return string;
}

</script>
