<div class='search'>
    <select class='search-for' required>
        <option value='posts'>Posts</option>
        <option value='threads' selected>Threads</option>
        <option value='keyword'>Keywords</option>
    </select>
    <input type='text' placeholder='Type here...' required/>
    <b class='fas fa-search'></b>
</div>

<div class='ask-question'>
    <span><b>Ask a question</b><b class='fas fa-plus'></b></span>

    <form action='' method='POST' enctype='multipart/form-data'>
        <input type='text' placeholder='Type your Question...' required/>
        <textarea placeholder='Please describe your question in detail...' maxlength="1000" required/></textarea>
        <input type='submit' value='submit'/>
    </form>

</div>

<div class="container">
    
    <div class="subforum">

        <div class="subforum-title">
            <h1>Threads</h1>
        </div>
        
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <i class="fas fa-hashtag"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h4><a href="#">Description Title</a></h4>
                <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                <br>on <small>12 Dec 2020</small>
            </div>
        </div>

    </div>
</div>

<script>
$('.ask-question').on('click','span',function(){
    $(this).parent().children('form').toggle();
});
</script>
