<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1016584848800-h5qthn2equndp7jar5bi1mdhaeure72f.apps.googleusercontent.com">

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" type='text/css' href="css/style.css">
    <title>Your Mentor</title>
</head>
<body>

<div id='NavBar' class='FullWidthContainer'>
    <a class='fetch-page' fetch-page='/'><p>Your Mentor</p></a>
    
    <ul>
        <li><a class='fetch-page' fetch-page='/'>Home</a></li>
        <li><a class='fetch-page' fetch-page='mentoring'>Mentoring</a></li>
        <li><a class='fetch-page' fetch-page='forum'>forum</a></li>
        <li><a class='fetch-page' fetch-page='login'>Login</a></li>
        <li><a class='fetch-page' fetch-page='account' id='account'><img src='/images/default-user.png' alt='User Name'/></a></li>
    </ul>

    <b class='fas fa-bars'></b>
</div>
<div id='Page' class='FullWidthContainer'></div>
<div id='fotter' class='FullWidthContainer'></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

$('.fetch-page').on('click',function(){
    var page = $(this).attr('fetch-page');
    console.log(page);
    $.ajax({
        type:"POST",
        url:"/fetch-page",
        cache: false,
        data:'page='+page,
        success:function(data){
            $('#Page').empty();
            $('#Page').append(data);
        }
    });
});

$(window).resize(function(){
    var win = $(this);
    if(win.width() <= 600)
    {
        //small screens
        $('#NavBar .fa-bars').css('display','inline-block');
        $('#NavBar ul').css('display','none');
    }
    else
    {
        //arge screens
        $('#NavBar .fa-bars').css('display','none');
        $('#NavBar ul').css('display','block');
    }
});

$('#NavBar .fa-bars').on('click',function(){
    if($('#NavBar ul').css('display') == 'none')
    {
        $('#NavBar ul').css('display','block');
    }
    else
    {
        $('#NavBar ul').css('display','none');
    }
});
</script>
</body>
</html>