<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="css/style.css">
    <title>Your Mentor</title>
</head>
<body>
    <head>
    </head>
    <body>
        <div class="login">
          <form>
            <h1>Create Account</h1>
            <label>
              Email:
            </label>
              <input
                name="email"
                type="email"
                value=""
                placeholder="username"
                required />
            <label>
              Password:              
            </label>
              <input
                name="password"
                type="password"
                value=""
                placeholder="password"
                required />
            <label>
              <input
                name="acceptedTerms"
                type="checkbox"
                required />
              I accept the terms of service
            </label>
            <button>Submi</button>
          </form>
        </div>
    </body>
</body>
</html>