<div class="container">  
    <div class="subforum">
        <div id='123' class="post-card">
            <h1>Our New post</h1>
            <div class="user">
                <div class="user-logo">
                    <img src="/images/default-user.png" alt="man icon"/>
                </div>
                <div class="username">
                    <h3>My name</h3>
                    <p>29 days ago</p>                    
                    <b class='special-user-tag'>Mentor</b>
                </div>                
            </div>
            <div class="post-content">
                <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                </p>
            </div>
            <div class="action-buttons">
                <span><i class="far fa-thumbs-up"></i><p>15 Likes</p></span>
                <span><i class="far fa-thumbs-down"></i><p>15 Dislikes</p></span>
                <span><i class="far fa-share-square"></i><p>5 Shares</p></span>
                <span><i class="far fa-comment"></i><p>5 comments</p></span>
            </div>
            <hr/>
            <div class='comments-toggle'><p>comments</p><b class='fas fa-angle-down'></b></div>
            <div class='comments'>
                <div id='456' class="comment">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                    <div class='comment-user'>
                        <b class='special-user-tag'>Mentor</b>
                        <a class='fetch-page' fetch-page='/user/'>User Name</a>
                        <p>29 days ago</p>
                    </div>
                    <div class="action-buttons">
                        <span><i class="far fa-thumbs-up"></i><p>15 Likes</p></span>
                        <span><i class="far fa-thumbs-down"></i><p>15 Dislikes</p></span>
                        <span><i class="far fa-share-square"></i><p>5 Shares</p></span>
                        <span><i class="far fa-comment"></i><p>5 Replies</p></span>
                    </div>
                </div>
                <div class='replies-toggle'><p>replies</p><b class='fas fa-angle-down'></b></div>
                <div class='replies'>
                    <div class='comments'>
                        <div class="comment">
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                </div>
                                <div class='comment-user'>
                                    <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                    <p>29 days ago</p>
                                </div>
                        </div>
                        <div class='replies-toggle'><p>replies</p><b class='fas fa-angle-down'></b></div>
                        <div class='replies'>
                            <div class='comments'>
                                <div class="comment">
                                        <div class="post-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                        </div>
                                        <div class='comment-user'>
                                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                            <p>29 days ago</p>
                                        </div>
                                </div>
                                <div class="comment">
                                        <div class="post-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                        </div>
                                        <div class='comment-user'>
                                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                            <p>29 days ago</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                </div>
                                <div class='comment-user'>
                                    <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                    <p>29 days ago</p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="post-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                    </div>
                    <div class='comment-user'>
                        <a class='fetch-page' fetch-page='/user/'>User Name</a>
                        <p>29 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-card">
            <div class="user">
                <div class="user-logo">
                    <img src="/images/default-user.png" alt="man icon"/>
                </div>
                <div class="username">
                    <h3>My name</h3>
                    <p>29 days ago</p>                    
                    <b class='special-user-tag'>Mentor</b>
                </div>                
            </div>
            <div class="post-content">
                <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                </p>
            </div>
            <div class="action-buttons">
                <span><i class="far fa-thumbs-up"></i><p>15 Likes</p></span>
                <span><i class="far fa-thumbs-down"></i><p>15 Likes</p></span>
                <span><i class="far fa-share-square"></i>Share</span>
            </div>
            <hr/>
            <div class='comments-toggle'><p>comments</p><b class='fas fa-angle-down'></b></div>
            <div class='comments'>
                <div class="comment">
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                        </div>
                        <div class='comment-user'>
                            <b class='special-user-tag'>Mentor</b>
                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                            <p>29 days ago</p>
                        </div>
                </div>
                <div class='replies-toggle'><p>replies</p><b class='fas fa-angle-down'></b></div>
                <div class='replies'>
                    <div class='comments'>
                        <div class="comment">
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                </div>
                                <div class='comment-user'>
                                    <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                    <p>29 days ago</p>
                                </div>
                        </div>
                        <div class='replies-toggle'><p>replies</p><b class='fas fa-angle-down'></b></div>
                        <div class='replies'>
                            <div class='comments'>
                                <div class="comment">
                                        <div class="post-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                        </div>
                                        <div class='comment-user'>
                                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                            <p>29 days ago</p>
                                        </div>
                                </div>
                                <div class="comment">
                                        <div class="post-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                        </div>
                                        <div class='comment-user'>
                                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                            <p>29 days ago</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                </div>
                                <div class='comment-user'>
                                    <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                    <p>29 days ago</p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="post-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                    </div>
                    <div class='comment-user'>
                        <a class='fetch-page' fetch-page='/user/'>User Name</a>
                        <p>29 days ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class='post-answer-form' action='' methode='POST'>
    <h3>Post Your Answer</h3>
    <textarea maxlength='1000' placeholder='Write your answer here...' required></textarea>
    <input type='submit' value='Post'/>
</form>

<script>
//comment toggle
$('.container').on('click','.post-card .comments-toggle',function(){
    $(this).parent().children('.comments').toggle();
});
//reply toggle 
$('.container').on('click','.post-card .comments .replies-toggle',function(){
    $(this).parent().children('.replies').toggle();
});

$('.container').on('click','.post-card .action-buttons span',function(){
    
    $(this).children('i').toggleClass('fas');
    var string = $(this).children('p').html();
    var elementID = $(this).parent().parent().attr('id');
    var parentType = "";
    var action = "";
    var actionValue = 0;
    if($(this).parent().parent().hasClass('post-card'))
    {
        parentType = "post";
    }
    else
    if($(this).parent().parent().hasClass('comment'))
    {
        parentType = "comment";
    }

    if(!$(this).children('i').hasClass('fa-share-square'))
    {
        //if action button is not a share button 
        string = string.split(" ");        
        if($(this).children('i').hasClass('fas'))
        {
            //increase the like or unlike count
            string[0] = parseInt(string[0]) + 1;
            actionValue = 1;
            if($(this).children('i').hasClass('fa-comment'))
            {
                var CommentForm = "<form class='post-answer-form comment-form' method='POST' action=''><textarea maxlength='1000' required></textarea><input type='submit' value='submit'/></form>"
                $(this).parent().parent().append(CommentForm);
            }
        }
        else
        {
            //decrease the like or unlikecount
            string[0] = parseInt(string[0]) - 1;
            actionValue = -1;
            if($(this).children('i').hasClass('fa-comment'))
            {
                $(this).parent().parent().children('.post-answer-form').remove();
            }
        }
        
        string = string.join(" "); 
        $(this).children('p').html(string);

        if($(this).children('i').hasClass('fa-thumbs-up'))
        {
            action = 'likes';
        }
        else
        if($(this).children('i').hasClass('fa-thumbs-down'))
        {
            action = 'dislikes';
        }
    }
    else
    {
        //if user wants to share the this threads
        //then paste the link in clipboard
        action = 'share';
        actionValue = 1;

        const clipboard = $("<input type='hidden' id='clipboard' value='"+window.location.href+"#"+elementID+"'>");
        $('body').prepend(clipboard);
        clipboard.select();
        document.execCommand("copy");
        navigator.clipboard.writeText(clipboard.val());
        clipboard.remove();   
        $(this).children('p').html("Copied!");
    }

    if(!$(this).children('i').hasClass('fa-comment'))
    {
        const thread = window.location.pathname.split("/")[2].split("#")[0];
        $.ajax({
            type:"POST",
            url:'/forum',
            data:"Thread="+thread+"&ParentType="+parentType+"&Id="+elementID+"&action="+action+"&actionValue="+actionValue,
            cache:false,
            success:function(data){
                if(data)
                {
                    switch(data.code)
                    {
                        case '0':{
                            console.log(data.description);
                        }break;
                        case '1':{
                            console.log(data.description);
                        }break;
                    }
                }
            }
        });
    }
});

$('.container').on('submit','.post-card .comment-form',function(e){
    e.preventDefault();
    const description = $(this).children('textarea').val();
    const id = $(this).parent().attr('id');
    var type = "";
    if($(this).parent().hasClass('comment'))
    {
        type='comment';
    }
    else
    if($(this).parent().hasClass('post-card'))
    {
        type = 'post';
    }
    $.ajax({
        type:"POST",
        url:"/forum",
        data:"type="+type+'&id='+id+'&description='+description,
        cache:false,
        success:function(data){
            if(data)
            {
                console.log(data);
                switch(data.code)
                {
                    case 1:{
                        alert(data.description);
                    }break;
                }
            }
        }
    });
});



</script>