<div class="container">
    
    <div class="subforum">
        
        <div class="subforum">
            <div class="post-card">
                <h1>Our New post</h1>
                <div class="user">
                    <div class="user-logo">
                        <img src="images/man.png" alt="man icon">
                    </div>
                    <div class="username">
                        <h3>My name</h3>
                        <p>29 days ago</p>
                    </div>
                </div>
                <div class="post-content">
                    <div class="text-content">
                        <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                        </p>
                    </div>
                    <div class="action-buttons">
                        <!-- <span> Reply <b class='fas fa-retweet'></b></span> -->
                        <form action='' method='POST' enctype='multipart/form-data'>
                            <textarea id="newComment" placeholder='Please write your comments here...' maxlength="1000" required></textarea>
                            <!-- <input type='submit' value='submit'/> -->
                            <button id="addComments" type='submit' value='submit'>Submit</button>
                        </form>
                    </div>
                </div>
                <!-- <details>
                    <summary>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto ratione quod totam <span id="dots">...</span><span id="more"> facilis, nisi illo natus doloremque excepturi quasi quas amet magni dolorum fugit odio tempore non dolor illum eaque?</span></p>
                    </summary>
                    <button id="myBtn" onclick="moreFunction()">Read more</button>
                    <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                    </p>
                    <div class="action-buttons">
                        <div class="drop">
                            <span> Reply <b class='fas fa-retweet'></b></span>
                            <form action='' method='POST' enctype='multipart/form-data'>
                                <textarea placeholder='Please write your comments here...' maxlength="1000" required/></textarea>
                                <input type='submit' value='submit'/>
                            </form>
                        </div>
                    </div>
                </details> -->
                <div class="action-buttons">
                    <div class="likes"><i class="fas fa-thumbs-up"></i><p>15 Likes</p></div>
                    <div class="likes"><i class="fas fa-thumbs-down"></i><p>15 Likes</p></div>
                    <div class="share"><i class="fas fa-share"></i>Share</div>
                    <!-- <div class="drop">
                        <div class="reply"><i class="fas fa-retweet">Reply</i></div>
                    </div> -->
                </div>
                <hr>
                <div class="comments">
                    <!-- <p>We can do it using this that or something</p> -->
                    <div class="user">
                        <div class="user-logo">
                            <img src="images/man.png" alt="man icon">
                        </div>
                        <div class="username">
                            <h3>My name</h3>
                            <p>29 days ago</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <!-- <div class="text-content">
                        </div> -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                    </div>
                </div>
            </div>
            <!-- <div class="post-card">
                <h1>Our New post</h1>
                <div class="user">
                    <div class="user-logo">
                        <img src="images/man.png" alt="man icon">
                    </div>
                    <div class="username">
                        <h3>My name</h3>
                        <p>29 days ago</p>
                    </div>
                </div>
                <details>
                    <summary>
                        content of post
                    </summary>
                    <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                    </p>
                    <div class="action-buttons">
                        <div class="drop">
                            <span> Reply <b class='fas fa-retweet'></b></span>
                            <form action='' method='POST' enctype='multipart/form-data'>
                                <textarea placeholder='Please write your comments here...' maxlength="1000" required/></textarea>
                                <input type='submit' value='submit'/>
                            </form>
                        </div>
                    </div>
                </details>
                <div class="action-buttons">
                    <div class="likes"><i class="fas fa-thumbs-up"></i><p>15 Likes</p></div>
                    <div class="likes"><i class="fas fa-thumbs-down"></i><p>15 Likes</p></div>
                    <div class="share"><i class="fas fa-share"></i>Share</div>
                    
                </div>
                <hr>
                <div class="comments">
                    <p>We can do it using this that or something</p>
                    <div class="user">
                        <div class="user-logo">
                            <img src="images/man.png" alt="man icon">
                        </div>
                        <div class="username">
                            <h3>My name</h3>
                            <p>29 days ago</p>
                        </div>
                    </div>

                </div>
            </div> -->
            
            <!-- <div class="subforum-icon subforum-column center">
                <i class="fas fa-hashtag"></i>
            </div>
            <div class="subforum-description subforum-column">
                <h4><a href="#">Description Title</a></h4>
                <p>Description Content: let's try to be cool, otherwise,w at 'sthe point in libing together with people youdont' live.</p>
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts</span>
            </div>
            <div class="subforum-info subforum-column">
                <b><a href="">Last post</a></b> by <a href="">JustAUser</a> 
                <br>on <small>12 Dec 2020</small>
            </div> -->
        </div>

    </div>
</div>
<script>
// for the read more button
function moreFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
    } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
    }
}
// for the commet section
const commentContainer = document.getElementById('comments');
document.getElementById('addComments').addEventListener('click', function (ev) {
   addComment(ev);
});

function addComment(ev) {
    let commentText, wrapDiv;
    const textBox = document.createElement('div');
    const replyButton = document.createElement('button');
    replyButton.className = 'reply';
    replyButton.innerHTML = 'Reply';
    const likeButton = document.createElement('button');
    likeButton.innerHTML = 'Like';
    likeButton.className = 'likeComment';
    const deleteButton = document.createElement('button');
    deleteButton.innerHTML = 'Delete';
    deleteButton.className = 'deleteComment';
    const wrapDiv = document.createElement('div');
    wrapDiv.className = 'wrapper';
    wrapDiv.style.marginLeft = 0;
    commentText = document.getElementById('newComment').value;
    document.getElementById('newComment').value = '';
    textBox.innerHTML = commentText;
    wrapDiv.append(textBox, replyButton, likeButton, deleteButton);
    commentContainer.appendChild(wrapDiv);
}
// handle the like and more reply and delete button
document.getElementById('comments').addEventListener('click', function (e) {
    if (hasClass(e.target, 'reply')) {
        const parentDiv = e.target.parentElement;
        const wrapDiv = document.createElement('div');
        wrapDiv.style.marginLeft = (Number.parseInt(parentDiv.style.marginLeft) + 15).toString() + 'px';
        wrapDiv.className = 'wrapper';
        const textArea = document.createElement('textarea');
        textArea.style.marginRight = '20px';
        const addButton = document.createElement('button');
        addButton.className = 'addReply';
        addButton.innerHTML = 'Add';
        const cancelButton = document.createElement('button');
        cancelButton.innerHTML = 'Cancel';
        cancelButton.className='cancelReply';
        wrapDiv.append(textArea, addButton, cancelButton);
        parentDiv.appendChild(wrapDiv);
    } else if(hasClass(e.target, 'addReply')) {
        addComment(e);
    } else if(hasClass(e.target, 'likeComment')) {
         const likeBtnValue = e.target.innerHTML;
         e.target.innerHTML = likeBtnValue !== 'Like' ? Number.parseInt(likeBtnValue) + 1 : 1;
    } else if(hasClass(e.target, 'cancelReply')) {
        e.target.parentElement.innerHTML = '';
    } else if(hasClass(e.target, 'deleteComment')) {
        e.target.parentElement.remove();
    }
});

// $('.drop').on('click','span',function(){
//     $(this).parent().children('form').toggle();
// });
</script>