<div class="container">
    
    <div class="subforum">
        
        <div class="subforum">
            <div class="post-card">
                <h1>Our New post</h1>
                <div class="user">
                    <div class="user-logo">
                        <img src="/images/man.png" alt="man icon">
                    </div>
                    <div class="username">
                        <h3>My name</h3>
                        <p>29 days ago</p>
                    </div>
                </div>
                <div class="post-content">
                    <p>I'm looking for the best way to let users export the data in xml and csv format. i have found maatwebsite to epxort excel and csv formats, but it doesn' proide xml. so what you guys recommend.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam modi deleniti ullam voluptatum nesciunt facilis sint reiciendis accusamus aspernatur temporibus, eaque, quod earum. Praesentium culpa tempore dolorum illo dolor voluptates.
                    </p>
                </div>

                <div class="action-buttons">
                    <span><i class="far fa-thumbs-up"></i><p>15 Likes</p></span>
                    <span><i class="far fa-thumbs-down"></i><p>15 Likes</p></span>
                    <span><i class="far fa-share-square"></i>Share</span>
                </div>

                <hr/>

                <div class='comments'>
                    <div class="comment">
                        <div class="post-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                        </div>
                        <div class='comment-user'>
                            <a class='fetch-page' fetch-page='/user/'>User Name</a>
                            <p>29 days ago</p>
                        </div>
                    </div>
                    <div class='replies-toggle'><p>replies</p><b class='fas fa-angle-down'></b></div>
                    <div class='replies'>
                        <div class='comments'>
                            <div class="comment">
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                </div>
                                <div class='comment-user'>
                                    <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                    <p>29 days ago</p>
                                </div>
                            </div>
                            <div class='replies'>
                                <div class="comment">
                                    <div class="post-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                    </div>
                                    <div class='comment-user'>
                                        <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                        <p>29 days ago</p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <div class="post-content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eius optio accusantium dolore tempora harum dolorum excepturi, quaerat placeat reiciendis laboriosam cum temporibus iste, et ipsa voluptates enim recusandae quis?</p>
                                    </div>
                                    <div class='comment-user'>
                                        <a class='fetch-page' fetch-page='/user/'>User Name</a>
                                        <p>29 days ago</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<form id='post-answer-form' action='' methode='POST'>
    <textarea maxlength='1000' placeholder='Write your answer here...' required></textarea>
    <input type='submit' value='Post'/>
</form>

<script>

</script>