#NotFoundSection
{
    /* background-image: url('images/page-not-found.svg'); */
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(56, 56, 56); 
}
#NotFoundSection img 
{
    display:block;
    position:relative;
    margin:auto;
    max-width:600px;
    max-height:400px;
    width:inherit;
    height:auto;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30vh;
    
}
.wrapper h1 {
    font-size: 3rem;
    
}
.wrapper .message {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    width: 60%;
    
}
.btn {
    background: rgb(88, 0, 202);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 12px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn:hover {background: rgb(132, 37, 255) ;}