
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* general  */
*{
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    padding:0px;
    margin:0px;
}

body {
  display: flex;
  flex-direction: column;
  /* background-color: #ece9e9; */
  background-color: white;
}

.FullWidthContainer
{
  display:block;
  position:relative;
  width:100%;
  transition:0.3s ease;
}

/* Navigation Bar  */
#NavBar
{
  display:grid;
  grid-template-columns: auto auto;
  position:sticky;
  top:0px;
  right:0px;
  padding:10px;
  z-index:20;
  box-shadow: -8px 3px 9px 13px rgba(0,0,0,0.1);
  background-color:white;
}
#NavBar .fa-bars
{
  display:none;
  position:absolute;
  top:10px;
  right:10px;
  padding:10px;
  border-radius:100%;
  cursor:pointer;
  transition:0.3s ease;
}
#NavBar .fa-bars:hover,
#NavBar .fa-bars:focus 
{
  background-color:#F7F9F9;
}
#NavBar>a 
{
  display:block;
  position:relative;
  grid-column: 1/2;
  margin: auto;
  text-align:center;
  width:inherit;
  overflow:hidden;
  cursor:pointer;
}
#NavBar p
{
  display:block;
  position:relative;
  text-align:center;
  margin:auto;
  transition:0.3s ease;
  font-size:13px;
  font-weight:400;
  user-select:none;
  letter-spacing:3px;
}
#NavBar>ul 
{
  display:block;
  position:relative;
  right:0px;
  list-style-type:none;
  transition:0.3s ease;
  grid-column: 2/3;
}
#NavBar>ul li 
{
  display:inline;
  float:left;
  position:relative;
  margin:auto 0px;
}
#NavBar>ul li a 
{
  display:block;
  position:relative;
  padding:10px 20px;
  text-decoration:none;
  border-radius:5px;
  font-size:11px;
  font-weight:400;
  color:black;
  cursor:pointer;
  transition:0.3s ease;
}
#NavBar>ul li a:hover,
#NavBar>ul li a:focus 
{
  background-color:#F7F9F9;
}
#NavBar>ul li a:active
{
  background-color:#F4F6F7;
}
#NavBar>ul li a#account
{
  display:inline-block;
  position: relative;
  padding:5px;
  margin:auto 10px;
  border:2px solid #e8ecee;
  border-radius:100%;
  overflow:hidden;
  width:30px;
  height:30px;
}
#NavBar>ul li a img 
{
  display:block;
  position:absolute;
  width:inherit;
  padding:0px;
  margin:auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#aim-popup
{
  display:none;
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  background-color:rgba(0,0,0,0.2);
  backdrop-filter: blur(1px);
  text-align: center;
  z-index:24;
  color:black;
}
#aim-popup>.fa-times
{
  display:inline-block;
  position:absolute;
  top:20px;
  right:40px;
  padding:15px;
  border-radius:100%;
  font-size:15px;
  transition:0.3s ease;
  background-color:white;
  color:black;
  cursor:pointer;
}
#aim-popup>.fa-times:hover,
#aim-popup>.fa-times:focus
{
  background-color:#F4F6F7;
}
#aim-popup #fields-container
{
  display:block;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-width:800px;
  max-height:500px;
  width: inherit;
  height:100vh;
  background-color:white;
  border-radius:5px;
  padding:10px;
  overflow-y:scroll;
}
#aim-popup #fields-container>h3
{
  display:block;
  position:relative;
  font-weight:700;
  letter-spacing:2px;
  padding:10px;
  user-select:none;
  color:black;
  text-align:left;
}
#aim-popup #fields-container>h3 a 
{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  font-size:13px;
  font-weight:600;
  color:black;
  letter-spacing:1px;
  border-radius:5px;
  cursor:pointer;
  user-select:none;
  background-color:#58D68D;
  margin:auto 10px;
}
#aim-popup #fields-container #fields
{
  display:block;
  position:relative;
  padding:5px;
  border-radius:5px;
  transition:0.3s ease;
}
#aim-popup #fields-container #fields .field-departments
{
  display:block;
  position:relative;
  border-radius:5px;
  margin:5px;
  transition:0.3s ease;
  user-select:none;
  cursor: pointer;
}
#aim-popup #fields-container #fields .field-departments .field-department-name
{
  display:grid;
  position:realtive;
  grid-template-columns: auto 50px;
  transition:0.3s ease;
  margin:5px;  
  background-color:#FBFCFC;
  cursor:pointer;
  transition:0.3s ease;
} 
#aim-popup #fields-container #fields .field-departments .field-department-name:hover,
#aim-popup #fields-container #fields .field-departments .field-department-name:focus
{
  background-color:#F7F9F9;
}
#aim-popup #fields-container #fields .field-departments .field-department-name p
{
  display:block;
  position:relative;
  grid-column:1/2;
  padding:10px;
  font-size:16px;
  font-weight:600;
  letter-spacing:1px;
  user-select:none;
  word-wrap: break-word;
  word-break:break-word;
}
#aim-popup #fields-container #fields .field-departments .field-department-name b
{
  display:inline-block;
  position:relative;
  color:black;
  font-size:14px;
  top:62%;
  transform: translateY(-50%);
  font-weight:600;
  user-select:none;
  padding:10px;
  border-radius:100%;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container
{
  display:none;
  position:relative;
  padding:5px;
  margin:5px;
  border-right:2px solid #F0F3F4;
  border-left:2px solid #F0F3F4;
  overflow:hidden;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section
{
  display:block;
  position:relative;
  width:inherit;
  margin:0px auto 5px auto;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section h4
{
  display:block;
  position:relative;
  padding:5px;
  font-size:13px;
  font-weight:800;
  text-align:left;
  user-select:none;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section hr 
{
  display:block;
  position:relative;
  width:50px;
  float:left;
  height:4px;
  border-width:0px;
  border-radius:10px;
  background-color:#F4F6F7;
  margin:0px auto;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section .fields-selection
{
  display:block;
  position:relative;
  width:inherit;
  padding:5px;
  border-radius:5px;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section .fields-selection span 
{
  display:block;
  position:relative;
  padding:2px;
  margin:5px;
  border-radius:5px;
  user-select:none;
  cursor:pointer;
  font-size:12px;
  font-weight:400;
  float:left;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section .fields-selection span input 
{
  display:inline-block;
  position:relative;
  text-align:left;
  cursor:pointer;
  padding:5px;
  margin:0px;
  border-radius:100%;
  background-color:white;
  transition:0.3s ease;
}
#aim-popup #fields-container #fields .field-departments .department-fields-container .alphabet-field-section .fields-selection span label
{
  display:inline-block;
  position:relative;
  font-size:11px;
  font-weight:600;
  letter-spacing:1px;
}



/* large screens  */
@media screen and (min-width:600px) {
  #NavBar
  {
    display:grid;
    grid-template-columns: auto auto;
    position:sticky;
    top:0px;
    right:0px;
    padding:10px 10px;
    z-index:20;
    width:inherit;
  }
  #NavBar>a 
  {
    display:block;
    position:relative;
    grid-column: 1/2;
    margin: auto;
    text-align:center;
    width:inherit;
    overflow:hidden;
    cursor:pointer;
  }
  #NavBar>ul 
  {
    display:block;
  }
}


/* small screens  */
@media screen and (max-width: 600px) {
  #NavBar
  {
    display:grid;
    grid-template-rows: auto auto;
    position:sticky;
    top:0px;
    right:0px;
    padding:10px 10px;
    z-index:20;
  }
  #NavBar .fa-bars
  {
    display:inline-block;
  }
  #NavBar>a 
  {
    display:block;
    position:relative;
    grid-row: 1/2;
    grid-column:1/3;
    margin: auto;
    text-align:center;
    width:inherit;
    overflow:hidden;
    cursor:pointer;
  }
  #NavBar p
  {
    padding:10px 0px;
  }
  #NavBar>ul 
  {
    display:none;
    position:relative;
    right:0px;
    padding:0px;
    list-style-type:none;
    transition:0.3s ease;
    grid-row: 2/3;
    grid-column:1/3;
    width:inherit;
    text-align:center;
  }
  #NavBar>ul li 
  {
    display:block;
    position:relative;
    text-align:center;
    width:inherit;
  }
}

#Page
{
  display:block;
  position:relative;
  min-height:100vh;
}

#Loading 
{
  display:block;
  position:fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  background-color:rgba(0,0,0,0.2);
  text-align:center;
  z-index:25;
}
#Loading #loading-elements
{
  display:inline-block;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:auto;
}
#Loading #loading-elements b 
{
  display:inline-block;
  position:relative;
  padding:3px;
  border-radius:100%;
  margin:3px;
  top:0px;
  color:white;
  animation: loading-animation 1s infinite alternate;
  animation-delay:0.2s;
}
#Loading #loading-elements b::before,
#Loading #loading-elements b::after
{
  content:'';
  display:inline-block;
  position:absolute;
  top:0px;
  padding:3px;
  border-radius:100%;
  color:white;
  animation: loading-animation 1s infinite alternate;
}
#Loading #loading-elements b::before
{
  left:-10px;
  animation-delay:0s;
}
#Loading #loading-elements b::after
{
  right:-10px;
  animation-delay:0.4s;
}

@keyframes loading-animation {
    0%{
        background-color:#ff7bd7;
      }
    100%
    {
      background-color:white;
    }
}

/* Login Starts*/
.login
{
  display:block;
  position:absolute;
  width:300px;
  height:auto;
  border-radius:5px;
  padding:20px;
  text-align:center;
  transition:0.3s ease;
  margin:auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow: 5px 10px 10px 10px rgba(0,0,0,0.2);
}
.login h2 
{
  display:block;
  position:reltaive;
  padding:10px 0px;
  font-size:30px;
  font-weight:400;
  letter-spacing:1px;
  user-select:none;
}
.login .social-login
{
  display:block;
  position:relative;
  margin:10px;
  border-radius:5px;
  padding:5px;
  background-color:white;
}
.login .social-login b 
{
  display:inline-block;
  position:relative;
  padding:8px;
  font-size:20px;
  border-radius:100%;
  background-color: #F113E7;
  cursor:pointer;
  user-select:none;
  margin:10px;
  transition:0.3s ease;
}
.login .social-login b:hover,
.login .social-login b:focus
{
  box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
}
.login input 
{
  display:block;
  position:relative;
  border-radius: 5px;
  padding:10px;
  font-size:13px;
  width:-webkit-fill-available;
  color:black;
  letter-spacing:1px;
  outline:0px solid #FBFCFC;
  border-width:0px;
  margin:15px auto;
  transition:0.3s ease;
}
.login input:valid
{
  outline:3px solid #D5F5E3;
}
.login input:invalid
{
  outline:3px solid #FADBD8;
}
.login p 
{
  display:block;
  position: relative;
  padding:5px;
  font-size:11px;
  font-weight:500;
  text-align:center;
  margin:10px auto;
  width:-webkit-fill-available;
  transition:0.3s ease;
}
.login input[type=submit]
{
  outline-width:0px;
  background-color:#F7F9F9;
  font-weight:600;
  cursor: pointer;
  transition:0.3s ease;
}
.login input[type=submit]:hover,
.login input[type=submit]:focus 
{
  background-color: #F4F6F7;
}
.login input[type=submit]:disabled
{
  color:#566573;
  background-color:#ECF0F1;
}
.success{
  background-color:#58D68D;
}
.failure{
  background-color:#db2269;
}
.general 
{
  background-color:#F5B041;
}
/* Login Ends  */

/* ------ Navigation */
@media screen and (min-width:600px) {
  .Intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px 40px;
    align-items: center;
  } 
}
.Intro{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px 40px;
  align-items: center;
} 
.landing {
  display: flex;
  flex-direction: column;
}
.landingtext h5{
  font-size: 20px;
  /* padding: 5px; */
  margin: 5px !important;
}
.landingtext span {
  display:inline-block;
  position:relative;
  font-size: 45px;
  color: #db2269;
  margin:10px auto;
}
.landingtext h3{
  display:block;
  position:relative;
  margin: 0;
  font-size: 45px;
  line-height: 40px;
  letter-spacing: 1px;;
}

.landing .btn{
  display:inline-block;
  position:relative;
  max-width: 180px;
  min-width:100px;
  margin-top: 30px;
  background-color: #db2269;
  border-radius: 5px;
  text-align: center;
  overflow:hidden;
}

.landing .btn a{
  display:block;
  position:relative;
  font-size: 13px;
  color: #fff;
  text-align: center;
  user-select: none;  
  transition:0.3s ease;
  padding: 5px 10px;
  width:inherit;
  text-decoration:none;
}
.Intro object {
  max-height: 600px;
  max-width: 500px;
  width: inherit; 
  height: auto;
  /* width: 28vw; */
}
/* .Intro .container {
  background-color: #db2269;
  align-items: center;
  display: block;
} */
@media screen and (max-width:600px) {
  .Intro{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding:20px 5px;
    align-items: center;
  } 
}

/*---------- SVG----------*/

/* section {
  background-color: #3199fa;
} */

/*---------- SVG----------*/
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/* --------- Cards Section ------------ */
section {
  margin: 25px;
  padding: 35px;
  /* display: flex; */
}
section h1 {
  text-align: center;
  font-size: 5vw;
}
/* ----------card  Section--------- */
/* 
.features {
  /* background-color: #ffffff; */
  /* background-color: #ade4b9; */
/* } */
section h2{
  color: #db2269;
  font-size: 40px;
  text-align: center;
}
@media screen and (min-width:800px)
{
  .card-section {
    margin: 60px 0 60px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    position:relative;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (max-width:800px) {
  .card-section{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}
.card {
  display:inline-block;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* width:300px; */
  min-width:250px;
  margin:5px;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 20px;
  transition:0.3s ease;
  cursor:pointer;
  overflow:hidden;
}
.card:hover {
  transform:translateY(-4px)
}
.card img {
  display:inline-block;
  position:relative;
  margin-top: 10px;
  padding: 15px;
  max-height:115px;
}

.title {
  color: grey;
  font-size: 18px;
  margin: 20px;
}

.card .cardbtn {
  border: none;
  border-radius: 5px;
  outline: 0;
  display: inline-block;
  margin: 20px;
  color: white;
  background-color: #db2269;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
}
.card .cardbtn a{
  display:block;
  position:relative;
  color:white;
  width:inherit;
  padding:5px 10px;
  transition:0.3s ease;
}
.card .cardbtn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  /* font-size: 22px; */
  color: #ffffff;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* --------- Preferences ------------- */
.preferences {
  display:grid;
  position:relative;
  margin-top: 40px;
  justify-content:space-between;
}
.choicefrom {
  padding-left: 60px;
}
.prefersvg {
  margin-top: 40px;
}