@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body{
	background: #ffffff;
}

.wrapper{
	position: relative;
	width: 325px;
	margin: 100px auto 0;
}

.profile_card{
	width: 325px;
	height: 500px;
	background: #34495E;
	padding: 50px 25px;
	position: relative;
	z-index: 1;
}

.profile_card{
	color: #fff;
	text-align: center;
}

.profile_card .profile_img img{
	width: 80px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.profile_card .profile_img .name{
	font-size: 24px;
	font-weight: 500;
	margin: 15px 0 5px;
}

.profile_card .profile_img .place{
	font-size: 14px;
	font-weight: 300;
}

.profile_card .place .icon{
	margin-right: 5px;
}

.profile_icons{
	display: flex;
	flex-direction: column;
	margin: 10px 0;
	justify-content: center;
}

.profile_icons .profile_item{
	margin-right: 15px;
}

.profile_icons .profile_item:last-child{
	margin-right: 0;
}

.profile_icons .icon,
.profile_icons .number{
	margin: 5px;
	font-size: 24px;
}

.profile_icons .title{
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0;
}

.profile_btn{
	background: #db2269;
	padding: 10px;
	border-radius: 25px;
	width: 200px;
	margin: 20px auto;
	color: #ffffff;
	cursor: pointer;
}

.profile_btn:hover{
	background: #15e063;
}

.profile_wrap .profile_discription {
	width: auto;
	/* max-width: 100px; */
	display: flex;
	flex-direction: column;
}
.profile_wrap .profile_discription p {
	font-size: 15px;
	text-align: center;
}
textarea {
	width: 250px;
	height: 100px;
	max-width: 250px;
	margin: 5px;
	border: solid #fff;
	color: rgb(96, 105, 105);
	background-color: #fff;
	text-align: left;
}
